 body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  margin-top: 40px;
  color: #58a6ff;
}

a {
  color: #58a6ff;
  text-decoration: none;
  font-weight: bold;
}
nav {
  background: #161b22;
  padding: 15px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: #58a6ff;
  font-weight: bold;
}
.card {
  background: #161b22;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  border-left: 4px solid #58a6ff;
}

.card h3 {
  margin-bottom: 5px;
}


nav a:hover {
  text-decoration: underline;
}



